<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #petForm="ngForm">
            <div class="form-group">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" 
                    type="text" 
                    placeholder="name"
                    id="name" 
                    name="test" 
                    [(ngModel)]="pet.name" 
                    required #name="ngModel">
                    <small>Enter your cute pet's name :)</small>
                </div>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>
